/* FIRULA  */
html , body{
    overflow: hidden;
}
body {
    background: #1d0534;
}
.firula {
    margin-top: -120px;
    height: 90px;
}
/* .wrapper {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    background: #1d0534;
    overflow: hidden;
} */
.wrapper .ufo {
    display: block;
    width: 50px;
    height: 168px;
    margin: 0 auto;
    transform: translateY(70px);
    animation: flying 10s cubic-bezier(0.165, 0.84, 0.44, 1)  ;
    z-index: 1;
    position: relative;
    opacity: 1;
    transition: opacity 2s ;
    filter: drop-shadow(0px 0px 1px #555);
    
}
.wrapper .beam {
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 252px;
    opacity: 0;
    transform: translateY(20px);
    animation: beam 10s cubic-bezier(0.455, 0.03, 0.515, 0.955) 6.4s infinite;
    transform: translateY(-96px);
    position: relative;
    z-index: 22;

}
.wrapper .beam .beam-2 {
    opacity: 0;
    animation: spotlight 10s ease-in-out 5.3s infinite;
}
.wrapper .sheep {
    display: block;
    width: 120px;
    height: 162px;
    margin: 0 auto;
    transform: translateY(-100px) rotate(-12deg);
    animation: abduction 10s ease-in-out 5.8s infinite;
}
.wrapper a {
    color: #fff;
    font-family: sans-serif;
}
@keyframes flying {
    0% {
        transform: translateY(-800px);
   }
    20% {
        transform: translateY(70px);
   }
   
   
    60% {
        transform: translateY(60px);
   }
   
    100% {
        transform: translateY(70px);
   }
}
@keyframes beam {
    0% {
        opacity: 0;
   }
    20% {
        opacity: 1;
   }
    30% {
        opacity: 1;
   }
    40% {
        opacity: 0;
   }
    100% {
        opacity: 0;
   }
}
@keyframes spotlight {
    0% {
        opacity: 0;
   }
    20% {
        opacity: 0.3;
   }
    30% {
        opacity: 0.3;
   }
    40% {
        opacity: 0;
   }
    100% {
        opacity: 0;
   }
}
@keyframes abduction {
    0% {
        transform: translateY(-100px) rotate(-12deg);
        opacity: 1;
   }
    30% {
        transform: translateY(-200px) rotate(0);
        opacity: 0;
   }
    55% {
        opacity: 0;
   }
    56% {
        transform: translateY(-100px) rotate(-12deg);
   }
    60% {
        opacity: 1;
   }
    100% {
        opacity: 1;
   }
}







/* FINAL FIRULA  */
body {
    margin: 0px;
    font-family: 'Poppins' , sans-serif;

}


ul,
h1,
h2,
h3,
h4,
p,
blockquote,
dd {
    margin: 0px;
    padding: 0px;
    list-style: none;

}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block ;
}
/* .container {
    width: 1000px;
    margin: 0 auto;
} */
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 60px;
    gap: 15px;
    width: 450px;
    padding: 30px 10px 40px 10px;
    position: relative;
    max-width: 100%;
    box-shadow: 0px 2px 4px 1px #7a7a7a;
    border-radius: 5px;

    

}
.registrar-btn {
    padding: 15px 50px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg, rgb(14 200 209 / 50%) ,rgb(8 53 58 / 75%), rgb(9 201 162 / 50%));
    text-transform: uppercase;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0px 1px 1px 1px #878787;
    filter: opacity(0.7);
    text-shadow: 2px 2px 5px #121212;
    font-size: 110%;
    cursor: pointer;
    border: none;

}
.registrar-btn:hover {
    box-shadow: 2px 2px 2px 1px #383838;
    background: linear-gradient(90deg, rgb(15 144 151) ,rgb(12 132 145), rgb(47 155 133));
}
.registrar-btn:active {
    box-shadow: 0px 0px 0px 0px #383838;
    background: linear-gradient(90deg, rgb(15 144 151) ,rgb(12 132 145), rgb(47 155 133));
}
.data {
    margin-bottom: unset !important;
}

.lista-pontos li {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 350px;
    margin-top: 10px;
    box-shadow: 0px 0px 1px 1px #d5d5d5;
    padding: 5px;
    border-radius: 5px;
    max-width: 100%;
   
}

.msg {
    position: absolute;
    top: 10px;
    font-weight: 600;
}

.flex-li {
    display: flex;
    align-items: center;
    gap: 5px;

}
.pen {
    width: 32px;
    height: 32px;
    fill: rgb(118 118 118) !important;
    cursor: pointer;
}

#input-box,
.edit-box {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 15px;
    box-shadow: 0px 0px 3px 1px #333;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    gap: 21px;
    height: 126px;
}
#input, .input-new {
    width: 185px;
}

#input-box-2 {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 15px;
    box-shadow: 0px 0px 3px 1px #333;
    border-radius: 15px;
}
#input-2 {
    width: 185px;
}
body {
    background: url('./overlay.png'),#f6fffb;;
}

.box {
    position: relative;
    background-color: #fff;
    
}

#horario {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    align-items: center;
    padding-top: 10px;
    padding-right: 20px;
    width: 86%;
    font-size: 22px;
    font-weight: 800;
    font-family: 'Roboto';
}


#horario p {
    width: 80px;
}
.edit-box {
    position: absolute;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 198px !important;
    

}
.nome-app {
    font-family: 'Caveat Brush', cursive;
    /* width: 30px; */
    font-size: 35px;
    color: #000;
    filter: drop-shadow(0px 0px 2px #057a29);
    text-align: center;
    line-height: 0.9;
}
.edit-box button {
    padding: 10px 20px;
    margin-left: 6px;
    margin-right: 6px;
    background: linear-gradient(93deg, #f1f1f1, transparent), #efefef;
    border-radius: 10px;
    outline: unset;
    border: unset;
    box-shadow: 0px 0px 3px 1px #cfcfcf;
    font-weight: 600;
    margin-bottom: 20px;
}
.flex-li li span,
#limite,
#minimo {
    width: 73px;
    box-shadow: 0px 0px 3px -1px #939393;
    border-radius: 3px;
    text-align: center;
}
.box-relative {
position: relative;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
gap: 30px;

}
.sair {
    position: absolute;
    top: -40px;
    right: -31px;
    font-size: 28px;
    font-weight: 800;
    width: 40px;
    height: 40px;
    background: #fff;
    text-align: center;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 4px #888);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.createdby {
    font-style: oblique;
}

.logo img {
    width: 40px;
    filter: invert() drop-shadow(0px 0px 1px #4d4);
    padding-top: 15px;
}
.registrar-btn {
    animation: hue 8s linear infinite;
}
@keyframes hue {

    from {
        filter: opacity(0.7) hue-rotate(360deg);
    }
    to {
        filter: opacity(0.7) hue-rotate(0deg);

    } 
}

@media (max-width: 700px) {
    .container {
        max-width: 100vw;
        margin: 0 auto;
    }
    .lista-pontos li {
        width: 285px;
    }
    .box {
        max-width: 100vw;
        padding: 0px 0px 40px 0px;
    }
}
@media (max-width: 340px) {
    .box {
        width: 100vw;
        margin-top: 30px;
    }
    .lista-pontos li {
        width: 252px;
    }
}

#salvar {
    width: 96px;
    height: 35px;
}