body {
    margin: 0px;
    font-family: 'Poppins' , sans-serif;

}


ul,
h1,
h2,
h3,
h4,
p,
blockquote,
dd {
    margin: 0px;
    padding: 0px;
    list-style: none;

}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block ;
}
/* .container {
    width: 1000px;
    margin: 0 auto;
} */
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 60px;
    gap: 15px;
    box-shadow: 2px 4px 6px 1px #383838;
    width: 450px;
    border-radius: 20px;
    padding: 30px 10px 40px 10px;
    position: relative;
    max-width: 100%;
    

}
.registrar-btn {
    padding: 15px 50px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg, rgb(14 200 209) ,rgb(19 153 167), rgb(9 201 162));
    text-transform: uppercase;
    color: #fff;
    border-radius: 10px;
    box-shadow: 2px 4px 6px 1px #383838;
    filter: opacity(0.7);
    text-shadow: 2px 2px 5px #121212;
    font-size: 110%;
    cursor: pointer;
    border: none;

}
.registrar-btn:hover {
    box-shadow: 2px 2px 2px 1px #383838;
    background: linear-gradient(90deg, rgb(15 144 151) ,rgb(12 132 145), rgb(47 155 133));
}
.registrar-btn:active {
    box-shadow: 0px 0px 0px 0px #383838;
    background: linear-gradient(90deg, rgb(15 144 151) ,rgb(12 132 145), rgb(47 155 133));
}
.data {
    margin-bottom: unset !important;
}

.lista-pontos li {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 350px;
    margin-top: 10px;
    box-shadow: 0px 0px 2px 1px #333;
    padding: 5px;
    border-radius: 5px;
    max-width: 100%;
   
}

.msg {
    position: absolute;
    top: 10px;
    font-weight: 600;
}

.flex-li {
    display: flex;
    align-items: center;
    gap: 5px;

}
.pen {
    width: 32px;
    height: 32px;
    fill: rgb(81 104 161) !important;
    cursor: pointer;
}

#input-box {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 15px;
    box-shadow: 0px 0px 3px 1px #333;
    border-radius: 15px;
}
#input {
    width: 185px;
}

#input-box-2 {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 15px;
    box-shadow: 0px 0px 3px 1px #333;
    border-radius: 15px;
}
#input-2 {
    width: 185px;
}
body {
    background-color: #dbdbdb;
}

.box {
    position: relative;
    background-color: #fff;
    
}
.edit-box {
    position: absolute;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media (max-width: 700px) {
    .container {
        max-width: 92vw;
        margin: 0 auto;
    }
    .lista-pontos li {
        width: 220px;
    }
    .box {
        max-width: 86vw;
    }
}

#salvar {
    width: 96px;
    height: 35px;
}